body{background-color: rgba(0, 0, 0, 0.9);}

#app{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:90vw;
    margin:5vh auto;
}

button{
    position: relative;
    min-width:20%;
    max-width: 25%;
    min-height:50px;
    border-radius: 0;
    color:rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0);
    border:none;
    margin:2.5%;
}

button::after,button::before{
    position: absolute;
    content: "";
    width:10%;height: 30%;
    border-radius: 0;
    border:1px solid lightgreen;
}

button::before{
    right:0;bottom: 0;
    border-left: 0;
    border-top: 0;
}

button::after{
    left:0;top: 0;
    border-bottom: 0;
    border-right: 0;
}

button:hover::after,button:hover::before{
    animation: tds 1s forwards;
}


@keyframes tds{
    from{width:10%;height:100%;}
    to{width: 100%;height:100%;}
}